#display{
    color: rgb(140, 106, 140);
}
#display thead{
    background-color: rgb(229, 223, 255);
}

#display tbody tr:nth-child(odd){background-color: rgb(255,250,250);}
#display tbody tr:nth-child(even){background-color: rgba(242, 240, 248, 255);}

#display tbody tr:hover {background-color: rgba(248, 222, 141, 255);}

